# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
TestForOCV/TestForOCV/TestForOCV.vcxproj
TestForOCV/RetrievalEngineDll/x64/Debug/RetrievalEngineDll.lastbuildstate
TestForOCV/RetrievalEngineDll/x64/Debug/RetrievalEngineDll.log
TestForOCV/TestForOCV/x64/Debug/Euclidean.obj
TestForOCV/TestForOCV/x64/Debug/LBP.obj
TestForOCV/TestForOCV/x64/Debug/main.obj
TestForOCV/TestForOCV/x64/Debug/TestForOCV.log
TestForOCV/x64/Debug/TestForOCV.exe
TestForOCV/x64/Debug/TestForOCV.ilk
TestForOCV/x64/Debug/TestForOCV.pdb
TestForOCV/TestForOCV/TestForOCV.vcxproj
TestForOCV/ImageRetrievalEngineUI/obj/x64/Debug/App.g.i.cs
TestForOCV/ImageRetrievalEngineUI/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestForOCV/ImageRetrievalEngineUI/obj/x64/Debug/ImageRetrievalEngineUI_MarkupCompile.i.cache
*.cs
*.vcxproj
*.filters
*.exe
*.ilk
*.pdb
*.cs
*.cache
*.vcxproj
*.user
*.db
*.opendb
*.cache
*.cache
*.cache
*.pdb
*.exe
*.tlog
*.lib
*.exp
*.ilk
TestForOCV/TestForOCV.opensdf
*.log
*.tlog
*.sdf
*.obj
*.suo
*.exe
*.ilk
*.pdb
*.sdf
*.suo
*.obj
*.tlog
*.tlog
*.obj
